
@{
    ViewData["Title"] = "Thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="card">

        <div class="card-header">

            <h3 class="card-title"><i class="fab fa-react"></i> Giới thiệu</h3>

        </div>

        <!-- /.card-header -->

        <div class="card-body">

            <h4>Công nghệ sử dụng</h4>

            Phần mềm được viết trên nền tảng ASP.NET Core 3.1 mới nhất hiện nay của Microsoft, với tính an toàn và bảo mật tuyệt đối.

            <h4>Trình duyệt hỗ trợ</h4>

            <blockquote>

                <h5>Trích dẫn từ tài liệu chính thức của Bootstrap!</h5>

                <p>Phần mềm hỗ trợ tất cả các trình duyệt và nền tảng <strong>mới nhất và ổn định</strong>. Trên Windows, <strong>Phần mềm hỗ trợ Internet Explorer 10-11 / Microsoft Edge</strong>.</p>



                <p>Để tìm hiểu thêm vui lòng truy cập <a href="https://getbootstrap.com/docs/4.3/getting-started/browsers-devices/#supported-browsers">tại đây</a>.</p>

            </blockquote>

        </div>

    </div>