
@{
    ViewData["Title"] = "Thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fab fa-react"></i> Giới thiệu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        Phần mềm được viết trên nền tảng ASP.NET Core 3.1 mới nhất hiện nay của Microsoft, với tính an toàn và bảo mật tuyệt đối.
    </div>
</div>
