
@{
    ViewData["Title"] = "Hướng dẫn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fab fa-react"></i> @ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h4>Upload nhiều file</h4>
        <p>
            <img src="~/img/tutorial/upload-mutil.png" class="img-fluid"/>
        </p>
    </div>
</div>


