
@{
    ViewData["Title"] = "Hướng dẫn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fab fa-react"></i> @ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body text-muted">
        <h5 class="mt-2 text-dark">Tải lên nhiều file</h5>
        <div class="p-2">
            <div class="mb-2">Chọn nhiều tệp tin cùng một lúc để tải lên</div>
            <img src="~/img/tutorial/upload-mutil.png" class="img-fluid w-75"/>
        </div>
        <h5 class="mt-2 text-dark">Sắp xếp tùy chỉnh</h5>
        <div class="p-2">
            - Mỗi lần đẩy top hoặc lùi top sẽ tăng vị trí của bản ghi lên 1 đơn vị. <br />
            - Mặc định bản ghi sẽ không được sắp xếp hoặc giá trị vị trí bản ghi nhỏ hơn 0. Tức lùi top về vị trí cuối cùng. <br />
            - Khi vị trí bản ghi ở được đẩy lên trên cùng, <b>Không nên</b> tiếp tục đẩy top!
        </div>
    </div>
</div>


