@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="alert alert-danger">
            <b>
                Bạn không có quyền truy cập vào mục này!
            </b>
        </div>
    </div>
</div>
