@model WebUI.Areas.Admin.Models.TopicViewModel

@{
    ViewData["Title"] = "Tài liệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
<link href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/toastr/toastr.css" rel="stylesheet" />
<style>
    .note-editable {
        min-height: 475px!important;
    }
</style>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nội dung</label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PublishDate" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input name="PublishDate" id="PublishDate" class="form-control" type="date">
                        </div>
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EffectiveDate" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input name="EffectiveDate" id="EffectiveDate" class="form-control" type="date">
                        </div>
                        <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                    </div>
                    <label asp-for="CategoryId" class="control-label"></label>
                    <div class="input-group mb-3">
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#CategoryModal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <div class="input-group mb-3">
                        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Departments"></select>
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#DepartmentModal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <label asp-for="TopicTypeId" class="control-label"></label>
                    <div class="input-group mb-3">
                        <select asp-for="TopicTypeId" class="form-control" asp-items="ViewBag.TopicTypes"></select>
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#topic-type-modal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <span asp-validation-for="TopicTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Signer" class="control-label"></label>
                        <input asp-for="Signer" class="form-control" />
                        <span asp-validation-for="Signer" class="text-danger"></span>
                    </div>
                    <label asp-for="AuthorIds" class="control-label"></label>
                    <div class="input-group mb-3">
                        <select class="form-control" name="Authorids" id="AuthorIds" asp-items="ViewBag.Authors" multiple="multiple"></select>
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#AuthorModal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <span asp-validation-for="AuthorIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Page" class="control-label"></label>
                        <input asp-for="Page" class="form-control" />
                        <span asp-validation-for="Page" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control" placeholder="Mỗi từ khóa cách nhau bởi dấu ," />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Tệp tin đính kèm <small><a data-toggle="tooltip" data-placement="top" title="Có thể thêm một lúc nhiều file" id="file-helper"><i class="fas fa-info-circle text-info"></i></a></small></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="attachmentFiles" name="attachmentFiles" multiple="multiple">
                                <label class="custom-file-label" for="exampleInputFile">Chọn file</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="topic-type-modal" tabindex="-1" role="dialog" aria-labelledby="topic-type-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="topic-type-modal-label">Thêm loại tài liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên loại tài liệu</label>
                <input type="text" id="TopicTypeName" class="form-control mb-3" required />
                <label>Mô tả</label>
                <textarea id="TopicTypeDescription" class="form-control mb-3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="addTopicType()">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DepartmentModal" tabindex="-1" role="dialog" aria-labelledby="DepartmentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DepartmentModalLabel">Thêm đơn vị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên đơn vị</label>
                <input type="text" id="DepartmentName" class="form-control mb-3" required />
                <label>Mô tả</label>
                <textarea id="DeparmentDescription" class="form-control mb-3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="addDepartment()">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CategoryModalLabel">Thêm loại văn bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên loại văn bản</label>
                <input type="text" id="CategoryName" class="form-control mb-3" required />
                <label>Mô tả</label>
                <textarea id="CategoryDescription" class="form-control mb-3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="addCategory()">Thêm</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AuthorModal" tabindex="-1" role="dialog" aria-labelledby="AuthorModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AuthorModalLabel">Thêm loại văn bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Họ và tên</label>
                <input type="text" id="AuthorName" class="form-control mb-3" required />
                <div class="form-group">
                    <label></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input id="AuthorDateOfBirth" class="form-control" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <select id="AuthorGender" class="form-control">
                        <option value="">-- Chọn giới tính --</option>
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Học hàm</label>
                    <input id="AuthorAcademicRank" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Học vị</label>
                    <input id="AuthorDegree" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Đơn vị công tác</label>
                    <input id="AuthorDeparment" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Chuyên ngành</label>
                    <input id="AuthorSpecialized" class="form-control" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="addAuthor()">Thêm</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/lib/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/lib/summernote/summernote-bs4.js"></script>
    <script src="~/js/topic.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#Content').summernote()

            //Initialize Select2 Elements
            $('#AuthorIds').select2({
                theme: 'bootstrap4'
            })

        });
        $('#file-helper').tooltip();
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
}
