
@{
    ViewData["Title"] = "Quản lý file";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fab fa-react"></i> @ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered mb-3 dataTable">
            <thead class="bg-danger">
                <tr>
                    <th>
                        Thư mục
                    </th>
                    <th>
                        Đường dẫn
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (string[])ViewBag.Directories)
                {
                    <tr>
                        <td class="font-weight-bold">
                            @item.Substring(item.LastIndexOf('\\') + 1)
                        </td>
                        <td>
                            <input type="text" class="form-control" value="@item" onclick="Clipboard_CopyTo()"/>
                        </td>
                        <td>
                            <a href="/admin/filemanagers/folder?path=@item" class="btn btn-outline-info btn-sm"><i class="fa fa-eye"></i> Chi tiết</a>
                            <a href="@item" class="btn btn-outline-primary btn-sm" onclick="openFolder()"><i class="fas fa-folder-open"></i> Mở thư mục</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="p-2 text-muted float-lg-right"><i class="fa fa-info-circle"></i> Vấn đề mở folder và file trên trình duyệt: <a href="https://stackoverflow.com/questions/5246292/open-local-folder-from-link" target="_blank">Xem chi tiết</a></div>
    </div>
</div>

@section scripts {
<script>
    function openFolder() {
        bootbox.alert("Vì lý do bảo mật nên không thể trực tiếp mở thư mục. Bạn hãy copy đường dẫn bên cạnh và vào File Exporler của Windows, dán đường dẫn và truy cập");
    }
</script>
}
